@mixin respond($bp) {
  @if $bp == sm { @media (max-width: $bp-sm) { @content; } }
  @else if $bp == md { @media (max-width: $bp-md) { @content; } }
  @else if $bp == lg { @media (max-width: $bp-lg) { @content; } }
}

@mixin flex-center($dir: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

@mixin box-shadow($x: 0px, $y: 4px, $blur: 6px, $spread: 0px, $color: rgb(78, 74, 74)) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin transition($properties: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $properties $duration $timing;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}